body {
    background-color: rgb(152, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: rgb(92, 6, 46);
}

h1,
h2 {
    font-weight: 600;
}

h1 {
    color: rgb(150, 50, 97);
    text-align: center;
}

h2 {
    color: black;
}

ul {}

ol {}

a {}

img {
    height: auto;
    width: 300px;
}

p {}

.recipes {}

.ingredients {}

.credits {
    color: black;
}

#title {}