body {
    background-color: rgb(190, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: rgb(92, 6, 46);
}

h1,
h2 {
    font-weight: 600;
}

h1 {
    color: rgb(150, 50, 97);
    text-align: center;
    padding: 16px;
    margin: 0px;
    margin-bottom: 24px;
    border-bottom: 6px double black;
}

h2 {
    color: black;
}

ul {}

ol {}

a {}

img {
    height: auto;
    width: 300px;
}

p {}

.recipes {
    font-size: 24px;
    list-style-type: none;
    text-align: center;
    padding: 12px 18px;
    margin-top: -16px;
}

.ingredients {}

.credits {
    color: black;
}

.index {
    width: 50%;
    margin: 5% auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.recipes a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    margin: 10px 0px;
    border-right: 2px dotted black;
    border-top: 3px solid rgb(100, 100, 100);
    border-left: 2px dotted black;
    border-bottom: 3px solid rgb(100, 100, 100);
    border-radius: 7px;
    /* border: 2px dotted black; */
}

#title {}