body {
    color: black;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

ul {
    color: black;
}

ol {
    color: black;
}

a {
    color: black;
}

img {
    color: black;
}

p {
    color: black;
}

.recipes {
    color: black;
}

.ingredients {
    color: black;
}

.credits {
    color: black;
}